<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <h1>PORTFOLIO</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <figure>
                    <img class="img-fluid" src="./img/lama.jpg" alt="description" />
                    <figcaption>Lama Laugh</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <figure>
                    <img class="img-fluid" src="./img/bird.jpg" alt="description" />
                    <figcaption>Blue Bird</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <figure>
                    <img class="img-fluid" src="./img/cat.jpg" alt="description" />
                    <figcaption>Tiger Cat</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6">
                <figure>
                    <img class="img-fluid" src="./img/flower.jpg" alt="description" />
                    <figcaption>Spring Flower</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6">
                <figure>
                    <img class="img-fluid" src="./img/swan.jpg" alt="description" />
                    <figcaption>Swim Swan</figcaption>
                </figure>
            </div>
            <div class="col-lg-4 col-md-6">
                <figure>
                    <img class="img-fluid" src="./img/dragon-fly.jpg" alt="description" />
                    <figcaption>Dragon Fly</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>